######## Notes About Backup ########
## KEEP THE PASSWORD SAFE. It is HIGHLY recommended to chmod 400 this file so 
## that other users can not read it
##
## To decrypt backups made by this script, run the following command:
## openssl enc -aes256 -in [encrypted backup] -out decrypted_backup.tgz -pass pass:[backup password] -d -md sha1
##
## Edit the entries below to match your needs ##
##
####################################

### Backup Configuration ###

# Specifies if you want to compress your backup in a tar archive or not by default the script uses gzip to compress
# files in this archive. Keep this value set to "yes" unless you have a reason to disable it.
# 
#NOTE: Backup WILL NOT BE ENCRYPTED if this value is set to "no". The script will only encrypt tar archives. 
CREATEARCHIVE="no"

# The password used to encrypt the backup
# NOTE: MAKE SURE THAT YOU CHMOD THIS FILE TO 400 TO AVOID UNAUTHORISED ACCESS
BACKUPPASS=""

# Temporary directory used during backup creation
TEMPDIR="/tmp/backups/"

# File to log the outcome of backups
LOGFILE="/var/log/backup.log"



# IP / hostname and MAC address of the server to store remote backups
REMOTESERVER="SETME"
REMOTEMAC="SETME"

# SSH port of remote server
REMOTEPORT=22

# User to use with SSH (public key needs to be installed on the remote server)
REMOTEUSER="SETME"

# Path to store the backups on the remote server
REMOTEDIR="SETME"

# Limit bandwidth used by SCP, in Kbit/s. Set to 0 for unlimited.
SCPLIMIT=0

# OPTIONAL: If you want MySQL to be backed up, enter the root password below
MYSQLUSERNAME="SETME"
MYSQLPASSWORD="SETME"

# Below is a list of files and directories that will be backed up in the tar
# backup. To add an entry, add a new line with the same format
BACKUP+=("SETME")

# Files and directories to exclude from tar backups
# To add an entry, add a new line with the same format
# NOTE: DO NOT LEAVE A TRAILING SLASH ON LINUX - IT WILL CAUSE IT TO NOT WORK
EXCLUDE+=("")

# Below is a list of files and directories that will be backed up in the rsync
# backup. To add an entry, add a new line with the same format
# NOTE: DO NOT LEAVE A TRAILING SLASH - IT WILL CAUSE IT TO NOT WORK
RSYNCDIR+=("")

# OPTIONAL: Specifies weather an report email should be sent and provides useful options
# SENDEMAIL should be either "yes" or "no", and EMAILADDRESS must be valid for this to work
# You can also specify a custom should you choose
SENDEMAIL="yes"
TOEMAILADDRESS="SETME"
SUCCESSFULEMAILSUBJECT="$(hostname): Daily backup complete"
FAILUREEMAILSUBJECT="[WARNING]: $(hostname) Daily backup failed"
